.App {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Modal-background {
  display: flex;
  margin: 0;
  padding: 0;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: grey;
  opacity: 90%;
  align-items: center;
  justify-content: center;
}

.Modal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-content: center;
  background-color: green;
  border: solid yellow 2px;
  width: 600px;
  height: 600px;
  color: brown;
}

.Modal button {
  height: 50px;
  align-self: center;
}

.Modal input {
  align-self: center;
  height: 50px;
}